div.hierarchy_facility {
padding: 5px;
padding-left:25px;
background:#c96 url(../images/database.png) no-repeat 5px 5px;
color: white;
}

div.hierarchy_site {
margin: 5px;
padding: 5px;
padding-left:25px;
background:#9c6 url(../images/house.png) no-repeat 5px 5px;
border: 1px solid black;
color: white;
}

div.hierarchy_rg {
margin: 5px;
padding: 5px;
background-color:#666;
border: 1px solid black;
color: white;
}

table.plain,
table.plain tr,
table.plain td {
padding: 0px;
margin: 0px;
border: none;
}

div.hierarchy_sc {
margin-left: 5px;
padding: 5px;
background-color: #693;
border: 1px solid black;
color: white;
}

div.hierarchy_supports {
border-bottom: 3px solid black;
border-right: 3px solid black;
text-align: center;
width: 70%;
-moz-border-radius-bottomright:4px;
-webkit-border-bottom-right-radius: 4px;
position: relative;
}
