a img
{
border: 0;
}

img{-ms-interpolation-mode:bicubic;}

a.mailto
{
padding-left:20px;
background:transparent url(../images/email.png) no-repeat 0px 0px;
}

.vo_report h4
{
padding: 3px;
background-color: #ccc;
}
.vo_report_fqan
{
padding: 10px;
margin: 3px;
background-color: #eee;
}

div.error_message
{
padding: 5px;
padding-left: 50px;
background-color: #fee;
color: red;
border: 1px dotted red;
margin-bottom: 10px;
}

div.resource
{
padding: 2px;
padding-left:20px;
background:#ccc url(../images/server.png) no-repeat 2px 3px;
min-height: 16px;
margin-bottom: 5px;
border: 1px solid #bbb;
}
div.h4
{
background-color: #ddd;
font-weight: bold;
font-size: 12px;
}

div.resource_group
{
padding-left:5px;
padding-right:5px;
}
div.site
{
padding-left:20px;
background:transparent url(../images/house.png) no-repeat 0 0px;
min-height: 16px;
}

div.support_center
{
padding: 2px;
padding-left:5px;
padding-right:5px;
background-color: #ccc;
margin-bottom: 5px;
border: 1px solid #bbb;
}

div.facility
{
padding-left:20px;
background:transparent url(../images/database.png) no-repeat 0 0px;
min-height: 16px;
}
div.contact
{
padding-left:20px;
background:transparent url(../images/user.png) no-repeat 0 0px;
min-height: 16px;
}
div.vo
{
padding: 2px;
padding-left:5px;
padding-right:7px;
background-color:#ccc;
margin-bottom: 5px;
border: 1px solid #bbb;
}
div.metric
{
padding-left:20px;
background:transparent url(../images/drive_magnify.png) no-repeat 0 0px;
min-height: 16px;
}
div.metricinfo_header
{
padding:2px;
padding-left:22px;
background:#ccc url(../images/drive_magnify.png) no-repeat 3px 3px;
min-height: 16px;
margin-bottom: 5px;
border: 1px solid #bbb;
}

div.header
{
padding:2px;
padding-left: 5px;
background-color:#ccc;
min-height: 16px;
border: 1px solid #bbb;
margin-bottom: 3px;
font-weight: bold;
font-size: 13px;
}

div.grid_type
{
padding-left:20px;
background:transparent url(../images/list-items.gif) no-repeat 0 0px;
min-height: 16px;
}

div.border
{
border: 1px solid #ccc;
margin: 3px;
padding: 3px;
}


div.resource_group_header, div.downtime_group, div.group_header
{
/*background-color: gray;*/
background-image:url('../images/h3_back.png');
color: white;
margin-bottom: 0.3em;
padding: 4px 8px 4px 8px;
}
div.resource_group_header a {
color: white;
padding-left:0px;
background: none;
}

.contact_info
{
    background-color: #eee;
    padding: 10px;
    margin: 3px;
}

.service_info
{
    background-color: #eee;
    padding: 10px;
    margin: 3px;
}

.round, .vo_report h4, .vo_report_fqan, .contact_info, .service_info
{
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
}

.sidenote
{
float: right;
text-align: right;
margin-right: 5px;
}

.bottom_border
{
border-bottom: 1px dotted #ddd;
padding-bottom: 5px;
margin-bottom: 5px;
}


div.indent
{
margin-left: 20px;
}
#sideContent div.indent
{
margin-left:10px;
}
pre
{
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
background-color: #ddd;
color: black;
padding-left: 3px;
}

span.note
{
color: #888;
}
.hidden
{
display: none;
}
.button
{
cursor: pointer;
}

span.h3
{
margin-bottom: 3px;
font-weight: bold;
font-size: 13px;
}
span.h4
{
margin-bottom: 3px;
font-weight: bold;
font-size: 12px;
}

div.history_graph
{
    width: 100%;
    line-height: 100%;
}
div.history_graph img.graph
{
    width: 100%;
    height: 24px; 
}
table.graph
{
    border-collapse: collapse; 
}
table.ruler
{
    border-collapse: collapse; 
    font-size: 10px;
    color: #333;
    margin-bottom: 3px;
}
table.ruler td
{
    padding: 0px !important;
    margin: 0px !important;
    white-space: nowrap;
    text-align: right;
}
.expired .sidenote
{
    color: #c00;
}
.expired .h4, .notreported .h4
{
    color: gray;
}
.expired, .notreported
{
    background-color: #ddd !important;
}

span.fqdn
{
font-family: "Courier New";
font-size: 12px;
font-weight: normal;
}

#banner
{
background-image: url('../images/error_back.png');
background-position: top left;
color: white;
margin-top: 30px;
margin-bottom: 5px;
padding: 5px;

}

p.note
{
    color: gray;
}

#logo
{
position: absolute;
top: 2px;
left: 5px;
}
p.warning
{
    background-image: url('../images/error.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 20px;
}
p.info
{
    background-image: url('../images/bullet_green.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 20px;
}
img.screenshot
{
    background-color: white; 
    padding: 3px;
    border: 1px solid gray;
    margin-right:6px;
}
.ui-datepicker
{
font-size: 10px !important;
}

table.summary_table
{
    width: 100%;
    margin: 0px;
    border-collapse: collapse; 
    margin-bottom: 3px;
}

table.summary_table th
{
    text-align: left;
    padding: 3px;
    background-color: #eee;
    border-top: 1px solid #ddd;
}
table.summary_table td
{
    padding: 3px;
    align: top;
    border-top: 1px solid #ddd;
}
table.summary_subtable
{
    width: 100%;
    margin: 0px;
    border-collapse: collapse; 
}
table.summary_subtable td, table.summary_subtable th
{
    background-color: transparent;
    border-top: none;
    border-bottom: 1px solid #ddd;
}
table.summary_subtable th
{
    width: 130px;
}
.disabled
{
    background-color: #eee;
    color: #999;
}
div.downtime
{
    margin-top: 5px;
    background-color: #cce;
    padding: 10px;
    border-right: 1px #aac;
    border-bottom: 1px #aac;
}
div.downtime_detail
{
    padding: 3px;
}

a[target=_blank], span.external_link
{
padding-left:15px;
background:transparent url(../images/external_link_icon.gif) no-repeat 0 -1px;
}

.status_, .status_OK, .status_CRITICAL, .status_WARNING, .status_UNKNOWN, .status_DOWNTIME
{
padding: 5px;
padding-left: 50px;
min-height: 20px;
height: auto !important;
height: 25px;
}
table.summary_table th
{
width: 170px;
}
.status_CRITICAL
{
background:transparent url(../images/button_cancel.png) no-repeat 5px 5px;
}

.status_DOWNTIME
{
background:transparent url(../images/status_downtime.png) no-repeat 5px 5px;
}

.status_OK
{
background:transparent url(../images/status_ok.png) no-repeat 5px 5px;
}

.status_WARNING
{
background:transparent url(../images/status_warning.png) no-repeat 5px 5px;
}

.status_UNKNOWN, .status_
{
background:transparent url(../images/status_unknown.png) no-repeat 5px 5px;
}
.fblist
{
border: 1px solid #ccc;
padding: 2px;
margin-bottom: 5px;
}
.fblist input.autocomplete
{
border: 0;
width: 100%;
}
.fblist div
{
padding: 2px;
background-color:#DDDDDD;
border:1px solid #AAAAAA;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
margin:1px;
}
.fblist div img
{
vertical-align: text-top;
cursor: pointer;
padding-right: 2px;
}
.hierarchy
{
    font-weight: normal;
    font-size: 10px;
}
.resource_group_header .hierarchy
{
    color: #ccc;
}
.resource .hierarchy
{
    color: #777;
}

span.tag {
margin: 1px;
padding: 5px;
margin-right: 5px;
color: white;
line-height: 230%;
}
span.tag[onclick] {
cursor: pointer;
}

div.step_num {
background:url(../images/step_dot.gif) no-repeat scroll left top transparent;
clear:right;
color:#FFFFFF;
float:left;
font-family: Arial, Helvetica;
font-size:14pt;
height:31px;
line-height:31px;
padding-right:20px;
text-align:center;
width:31px;
}
ol.step_list {
list-style:none outside none;
margin:0;
padding:0;
}
ol.step_list li {
border-bottom: 1px dashed #ccc;
padding: 20px 20px 20px 10px;
}

div.subinfo {
background-color: #eee;
padding: 5px;
margin-bottom: 5px;
}


ul.topnav {
    list-style: none;
    padding: 3px 0px 3px 0px;
    margin-left: 0;
    height: 28px;
    width: 100%;
    background-image:url('../images/topnav_bg.gif');
    color:#888888;
    font-size:12px;
    font-weight:bold;
}
ul.topnav li {
    float: left;
    margin: 0;
    padding: 5px;
    margin-right: 5px;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
li[onclick],span[onclick] {
    cursor: pointer;
}
ul.topnav li.selected {
    background-color: #333;
    color: white;
}
ul.topnav li:hover {
    background-color: #555;
    color: white;
}
ul.subnav {
    font-family: verdana;
    font-size: 11px;
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 25px;
    background: white;
    color: black;
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 250px;
    border: 1px solid #666;
    z-index:+2;
}
ul.subnav li {
    padding: 0px;
    margin: 0px;
    width: 100%;
}
ul.subnav p {
    font-weight:normal;
    margin: 10px;
}
ul.subnav li.a {
}
ul.subnav li:hover {
    background-color: #eee;
    color: black;
}
.subnav_desc {
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 230px; top: -1px;
    background: #ddd url(../images/desc_back.gif) repeat-x;
    font-weight: normal;
    color: black;
    margin: 0px; padding: 10px;
    display: none;
    float: left;
    width: 350px;
    border: 1px solid #999;
}
div.subnav_desc p {
    margin-top: 0px;
    margin-left: 0px;
}

#map_control {
float: right;
right: 7px;
top: 32px;
position: absolute;
z-index: 1;
background-color: white;
padding: 1px;
padding-left: 2px;
border: 1px solid black;
}

.message {
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
padding: 10px;
margin-bottom: 10px;
color: white;
background-color: #69f;
}

a.hidden_link {
color: inherit;
text-decoration: none;
}
a:hover.hidden_link {
color: #961;
text-decoration: underline;
}
