
html, body {
    font-family:'lucida grande',tahoma,arial,sans-serif;
    font-size:11px;
    margin: 0;
    padding: 0;
    border: 0 none;
    overflow: hidden;
    height: 100%;
}
a {
    color:#15428B;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/*
#header {
    background: #7F99BE url(images/layout-browser-hd-bg.gif) repeat-x center;
}
#header h1 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
}
*/
#start-div h2 {
    font-size: 12px;
    color: #f71;
    padding-bottom:5px;
    border-bottom:1px solid #f71;
}
#start-div p {
    margin: 10px 0;
}

#details-panel h2 {
    padding:5px 10px 0 10px;
    font-size:12px;
    color:#f71;
}

#details-panel h3 {
    color:#f71;
    font-size:11px;
    border-bottom:1px dotted #f71;
    padding:5px;
    margin: 5px;
}

#details-panel .legend
{
    background-color: #eee;
    margin: 5px;
    padding: 5px;
}
#details-panel p {
    padding: 5px;
}
#details-panel p.sub{
    padding-top: 0px;
    margin-left: 30px;
}
#details-panel pre {
    border-top:1px dotted #ddd;
    border-bottom:1px dotted #ddd;
    margin-top:10px;
    padding:0 5px;
    background:#f5f5f5;
}
#details-panel .details-info {
    margin:15px;
    padding:15px;
    border:1px dotted #999;
    color:#555;
    background: #f9f9f9;
}

/*
.icon-send {
    background-image:url(images/email_go.png) !important;
}
.icon-save {
    background-image:url(../images/disk.png) !important;
}
.icon-print {
    background-image:url(../images/printer.png) !important;
}
.icon-spell {
    background-image:url(../images/spellcheck.png) !important;
}
.icon-attach {
    background-image:url(../images/page_attach.png) !important;
}
*/

.icon-ok {
    background:transparent url(../images/small_ok.png) no-repeat 3px 0px;
}
.icon-cross {
    background:transparent url(../images/small_cross.png) no-repeat 3px 0px;
}

.ext-el-mask {
    background:#dadadb;
}
.details .x-btn-text {
    background-image: url(../images/details.gif);
}
.msg-view {
    background-image: url(../shared/icons/fam/application_view_list.png) !important;
}
.add-feed {
    background-image: url(../images/rss_add.gif) !important;
}

.preview-bottom {
    background-image: url(../images/preview-bottom.gif) !important;
}
.preview-right {
    background-image: url(../images/preview-right.gif) !important;
}
.preview-hide {
    background-image: url(../images/preview-hide.gif) !important;
}
.export {
    background-image: url(../images/export.gif) !important;
}

.tabs {
    background-image: url(../images/tabs.gif ) !important;
}
.menuicon_home {
    background-image: url(../images/house.png ) !important;
}
.menuicon_overview {
    background-image: url(../images/world.png ) !important;
}
.menuicon_metricdetail {
    background-image: url(../images/metricdetail.png ) !important;
}
.menuicon_historygraph {
    background-image: url(../images/pert_chart.png ) !important;
}
.menuicon_vomatrix {
    background-image: url(../images/kdb_table.png ) !important;
}
.menuicon_vogroup {
    background-image: url(../images/details.gif) !important;
}

.summary {
    background-image: url(../images/details.gif) !important;
}

.calendar {
    background-image: url(../images/calendar_view_month.png) !important;
}

.x-grid3-row-body p {
    margin:10px 10px 10px 10px !important;
    color:#555;
}
.x-grid3-td-title .server {
    padding-left:20px;
    background:transparent url(../images/computer.png) no-repeat 0 2px;
}

.post-date {
    font-weight:bold;
    text-align: right;
}

.servername {
    color:#333;
}
body.x-border-layout-ct {
    background:#ece9d8 url(../images/bg.gif) repeat-x left top !important;
}

.x-tree-node div.feeds-node{
    background:#eee url(../images/cmp-bg.gif) repeat-x;
    margin-top:1px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ccc;
    padding-top:2px;
    padding-bottom:1px;
}
.x-tree-node div.x-tree-node-leaf {
    border:1px solid #fff;
    margin:3px;
}
.feed-icon {
    background-image:url(../images/rss.gif) !important;
}
.new-tab {
    background-image:url(../images/new_tab.gif) !important;
}
.new-win {
    background-image:url(../images/go-to-post.gif) !important;
}
.email {
    background-image:url(../images/email.png) !important;
}
.delete-icon {
    background-image:url(../images/rss_delete.gif) !important;
}
.load-icon {
    background-image:url(../images/rss_load.gif) !important;
}
.refresh-icon {
    background-image:url(../shared/icons/fam/table_refresh.png) !important;
}
.direct-link {
    background-image:url(../images/application_link.png) !important;
}

.x-tree-selected {
    border:1px dotted #a3bae9;
    background:#DFE8F6;
}
.x-tree-node .x-tree-selected a span{
    background:transparent;
    color:#15428b;
    font-weight:bold;
}

#main-tabs .x-tab-panel-body {
    background:transparent;
    border:0 none;
}

/* Preview classes */

.preview .x-panel-body {
    background:#fff;
    color:#222;
    font:normal 12px tahoma,verdana,arial,sans-serif;
}

.preview .x-panel-body p {
    line-height:18px;
    margin:8px 0;
}

.preview .x-panel-body ul {
    margin-left:18px;
}

.preview .x-panel-body ul li {
    display:list-item;
    list-style-image:none !important;
    list-style-position:outside !important;
    list-style-type:disc !important;
    margin-left:18px;
}

.preview .x-panel-body pre, #preview .x-panel-body code {
    background:#f1f1f1;
    display:block;
    white-space: wrap;
}

.preview .x-panel-body h4.post-author {
    font-weight:normal;
    color:#555;
    font-size:11px;
}
.preview .x-panel-body span.post-date {
    font-weight:normal;
    float:right;
    font-size:11px;
}
.preview .x-panel-body div.post-data {
    background:#f1f2f4;
    padding:5px;
    border-bottom:1px solid #dadadb;
}
.preview .x-panel-body div.post-body {
    padding:10px;
}
.reading-menu .x-menu-item-checked {
   border:1px dotted #a3bae9 !important;
    background:#DFE8F6;
    padding:0;
}
#suggested {
    border-top:0 none;
}
#suggested a {
    text-decoration:none;
    font-size:11px;
    color:#15428B;
    display:block;
    padding:3px;
    float:right;
    margin-right:4px;
}
#suggested a:hover {
    text-decoration:underline;
    color:#15428B;
}
.x-combo-list-item strong {
    color:#777;
    font-size:11px;
    font-style: normal;
    float:left;
}
.x-combo-list-item em {
    color:#222;
    font-size:12px;
    font-style: normal;
    float:left;
    width:325px;
}
.x-node-ctx {
    background:#eee !important;
    border:1px solid #ccc !important;
}

/*

///////////////////////////////////////////////////////////////////////////////
//
// custom stuff
//
///////////////////////////////////////////////////////////////////////////////

*/

#header table
{
    width: 100%;
    background-color: #fff;
}

#header h1
{
    color: #f71;
    font: normal 20px tahoma, sans-serif;
    padding-left: 5px;
}

/*used by menu icons*/
.bmenu {
    background-image: url(../images/menu-show.gif) !important;
}

/******************************************************************************

Metric Details

******************************************************************************/

.metric
{
    margin: 5px;
    padding-left: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}


.metric .metric_name
{
    font-weight:bold;
    font-size:13px;
}

.metric .metric_status
{
    margin-right: 20px;
    float: right;
}

.metric .service_type
{
    margin-right: 20px;
    float: right;
}

.metric .timestamp
{
    float: right;
}
.metric .chart
{
    float: right;
}
.metric .chart h3
{
    color:#f71;
    font-size:11px;
    border-bottom:1px solid #f71;
}

pre
{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 padding: 5px;
}

.status_icon_holder
{
    height: 30px;
}

.status_CRITICAL
{
    background:transparent url(../images/button_cancel.png) no-repeat 5px 0px;
}

.status_OK
{
    background:transparent url(../images/status_ok.png) no-repeat 5px 0px;
}

.status_WARNING
{
    background:transparent url(../images/status_warning.png) no-repeat 5px 0px;
}

.status_UNKNOWN
{
    background:transparent url(../images/status_unknown.png) no-repeat 5px 0px;
}

div.post-body .disabled
{
    opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    color: #999;
}

p.error
{
    padding-left: 20px;
    background:transparent url(../images/exclamation.png) no-repeat 0 0px;
}

/* Toolbar icons for absolute form example: */
.icon-send {
    background-image:url(../images/email_go.png) !important;
}
.icon-save {
    background-image:url(../images/disk.png) !important;
}
.icon-print {
    background-image:url(../images/printer.png) !important;
}
.icon-spell {
    background-image:url(../images/spellcheck.png) !important;
}
.icon-attach {
    background-image:url(../images/page_attach.png) !important;
}

.hidden
{
display: none;
}

.button
{
    padding: 3px;
    background-color: #eee;
    cursor: pointer;
}

.core_metric
{
    background-color: #ddd;
}

table.graph
{
    border-collapse: collapse; 
}
table.ruler
{
    border-top:1px solid #999;
    color: #999;
    margin-bottom: 2px;
}
table.ruler td
{
    white-space: nowrap;
    text-align: right;
}

table.graph td.color_OK
{
    background-color: green;
}

table.graph td.color_CRITICAL
{
    background-color: red;
}

table.graph td.color_WARNING
{
    background-color: yellow;
}

table.graph td.color_UNKNOWN
{
    background-color: gray;
}

.history_graph
{
    padding: 5px;
}
.history_graph p
{
    margin: 3px;
}

div.post-data table th, table.timerange th
{
    font-weight:bold;
    text-align: right;
    padding-right: 10px;
}

table.timerange
{
    float:right;
}

div.post-body h1
{
    font-weight:bold;
    font-size: 13px;
    
}

div.post-body h2
{
    font-weight:bold;
    font-size: 11px;
    color: #999; 
}

.gippanel .x-panel-body
{
    font-size: 12px;
    overflow: auto;
}

.toolbar_item
{
    padding-left: 3px;
    padding-right: 3px;
}

.indent
{
    padding-left: 30px;
}

#vo_matrix-panel .x-grid3-hd-row
{
    height: 100%;
}
#vo_matrix-panel .x-grid3-hd
{
    height: 100%;
}

#vo_matrix-panel .x-grid3-hd-inner
{
    height: 90px;
}
#vo_matrix-panel .x-grid3-hd-inner img.voname
{
    position: absolute;
    bottom: 5px;
}

#vo_matrix-panel .x-grid3-cell-inner
{
    padding-left: 3px;
}

.gray_column
{
    background-color: #eee;
}
.x-grid3-row-selected .gray_column
{
    background-color: transparent;
}

.x-grid3-row
{
    border-top: 0;
}
